/*# sourceURL=app.component.scss */

:host {
  font-size: 14px;
    
  header {
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .a-menu-list {
    display: flex;
    align-items: center;
  }
  .a-logotype {
    height: 1.46em;
    padding-right: 0.4em;
    padding-bottom: 0.4em;
  }
  .a-title {
    padding-right: 2em;
  }
}