/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #008996;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.clearfix:after {
  clear: both;
}

.pointer {
  cursor: pointer;
}

.no-focus:focus {
  outline: none;
}